<!-- Header Bar -->
<div class="row header col-xs-12">
  <div class="user pull-right">
    <div class="item dropdown">
      <a href="#" class="dropdown-toggle"><img src="img/avatar.jpg" alt=""></a>
    </div>
  </div>
  <div class="meta">
    <div class="page">Widgets</div>
    <div class="breadcrumb-links">Home / Widgets</div>
  </div>
</div>
<!-- End Header Bar -->

<!-- Tables -->
<div class="row">

  <!-- Widget listing -->
  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">Widgets
        <div class="pull-right">
          <button class="btn btn-sm btn-info" ng-click="createWidget()">+ Create</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>Name</th>
              <th>Color</th>
              <th>Price</th>
              <th>Melts?</th>
              <th>Inventory</th>
            </tr>
          </thead>
          <tbody ng-repeat="widget in widgets">
            <tr>
              <td class="text-center">{{widget.id}}</td>
              <td><a ng-href="/#/widget/{{widget.id}}">{{widget.name}}</a></td>
              <td>{{widget.color}}</td>
              <td>{{widget.price}}</td>
              <td>{{widget.melts}}</td>
              <td>{{widget.inventory}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- End Widgets -->

</div><!-- End Row -->

<hr>

<!-- Create/Edit -->
<div class="row">

  <!-- Widget listing -->
  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header" id="create-widget">Create/Edit Template</div>
      <div class="widget-body">
        <form class="form-horizontal">

          <legend>Create Widget</legend>

          <!-- Name-->
          <div class="controls">
          Name
            <input id="widget-name" name="widget-name" type="text" placeholder="foo-bar" class="input-medium" ng-model="newWidget.name">
          </div>

          <!-- Price -->
          <div class="controls">
            <div class="input-prepend">
            Price
              <span class="add-on">$</span>
              <input id="widget-price" name="widget-price" class="input-medium" placeholder="0.00" type="text" ng-model="newWidget.price">
            </div>
          </div>

          <!-- Color -->
          <div class="controls">
          Color
            <select id="widget-color" name="widget-color" class="input-large" ng-model="newWidget.color">
              <option>red</option>
              <option>purple</option>
              <option>black</option>
              <option>green</option>
              <option>magenta</option>
              <option>white</option>
              <option>depends on the viewing angle</option>
            </select>
          </div>

          <!-- Melts -->
          <div class="controls">
            Melts
            <input type="checkbox" name="widget-properties" id="widget-properties-0" value="melts" ng-model="newWidget.melts">
          </div>

          <!-- Inventory -->
          <div class="controls">
            Inventory
            <input id="widget-count" name="widget-count" type="text" placeholder="#?" class="input-small" ng-model="newWidget.inventory">
          </div>

          <!-- Create Widget Submit Button -->
          <div class="controls">
            <input class="btn btn-sm btn-info" type="submit" value="Create" ng-click="addWidget(newWidget)">
          </div>

        </form>
      </div><!-- End Widget body -->
    </div><!-- End Widget -->
  </div><!-- End Column -->
</div><!-- End Row